body, html {
       margin: 0;
       padding: 0;
       height: 100%;
       overflow: hidden;
   }

   .minion {
       background-image: url('minion_image.jpg');
       background-size: cover;
       background-position: center;
       width: 100%;
       height: 100%;
       border: none; /* Убираем рамку */
       cursor: pointer; /* Меняем курсор при наведении */
   }